.body {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.cabin-uniquifier {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.ricomida {
    font-family:"Lobster", sans-serif ;
    color: white;
}


.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .imgenprincipal img {
    padding: auto;
  }
   
  .logo2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400px;
    font-style: normal;
    color: white;
    font-size: 20px;
    text-align: center;
  
  }